.parallax {
    background-image: url("images/orange_mountain.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

#home {
  justify-content: right; 
  margin: 0 0 0 430px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#home:hover {
  -webkit-filter: brightness(60%);
}

h1 {
	color: white;
	font-family: Impact;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 0 20px;
  display: inline-block;
}

h2 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 5px;
	font-size: 50px;
	text-align: center;
}

h2 img {
	width: 12%;
	height: auto;
	margin: 30px 20px;
	box-shadow: 1px 1px 1px black;
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}


.container {
  max-width: 960px;
}

.panel-default>.panel-heading {
  color: white;
  background-color: black;
  border-color: black;
  padding: 0;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.panel-default>.panel-heading:hover {
	background-color: #16216a;
}

.panel-default>.panel-heading a {
  display: block;
  padding: 10px 15px;
}

.panel-default>.panel-heading a:after {
  content: "";
  position: relative;
  top: 1px;
  display: inline-block;
  font-family: 'Glyphicons Halflings';
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  float: right;
  transition: transform .25s linear;
  -webkit-transition: -webkit-transform .25s linear;
}

.panel-default>.panel-heading a[aria-expanded="true"] {
  background-color: black
}

.panel-default>.panel-heading a[aria-expanded="true"]:after {
  content: "\2212";
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.panel-default>.panel-heading a[aria-expanded="false"]:after {
  content: "\002b";
  -webkit-transform: rotate(90deg);
  transform: rotate(90deg);
}

.panel-default>.panel-collapse>.panel-body img {
	display: block;
  margin: auto;
  width: auto;
  height: 350px;
	padding: 20px;
}

.panel-default>.panel-collapse>.panel-body p {
	font-size: 20px;
}

.panel-default>.panel-heading>.panel-title {
	font-size: 20px;
}

.accordion-option {
  width: 100%;
  float: left;
  clear: both;
  margin: 15px 0;
}

.accordion-option .title {
  font-size: 20px;
  font-weight: bold;
  float: left;
  padding: 0;
  margin: 0;
}

.accordion-option .toggle-accordion {
  float: right;
  font-size: 20px;
  color: white;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

.accordion-option .toggle-accordion:before {
  content: "Collapse All";
}

.accordion-option .toggle-accordion.active:before {
  content: "Expand All";
}

footer {
  margin-top: 50px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: black;
  height: auto;
}

footer {
  margin-top: 50px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: black;
  height: auto;
  text-align: center;
}

footer #logo {
  width: 200px;
  height: auto;
  margin: auto;
  display: block;
}

footer .col-sm-10 {
  font-size: 20px; 
  color: white;
  text-align: center;
  position: relative;
  left: 7.5%;
}

footer ul {
  list-style: none; 
  margin: auto;
  padding: 5px 0;
  position: relative;
  left: 42%;
}

footer li img {
  width: 32px;
  height: 32px;
}


