.parallax {
    background-image: url("images/orange_mountain.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {

}

.info {
	/*background-color: white;*/
	padding: 50px;
}

h1 {
	color: white;
	font-family: Impact;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 0 20px;
}

h2 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 5px;
	font-size: 50px;
	text-align: center;
}

h2 img {
	width: 12%;
	height: auto;
	/*padding: 20px;*/
	margin: 20px;
	box-shadow: 1px 1px 1px black;
}

button.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s; 
}

button.accordion.active, button.accordion:hover {
    background-color: #ddd;
}

div.panel {
    padding: 0 20px;
    background-color: white;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel p {
	padding: 20px;
	font-size: 18px;
}

div.panel img {
	display: block;
    margin: auto;
    width: auto;
    height: 400px;
    padding: 20px;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: #777;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

footer {
  margin-top: 50px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: black;
  height: auto;
}

footer #logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

footer .col-sm-10 {
  font-size: 20px; 
  color: white;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  list-style: none; 
  margin: 0 auto;
  padding: 10px;
  display: block;
}

footer li img {
  width: 32px;
  height: 32px;
  display: inline-block;
}

