.parallax {
    background-image: url("images/backgroun.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 300;
  background-color: #c8d9de;
  padding-top: 200px;
}

.navbar-fixed-top .nav {
    padding: 30px 0;
}

.navbar-fixed-top .navbar-brand {
    padding: 5px 0px;
}

.navbar-fixed-top .navbar-header img{
    height: 100px;
    width: auto;
}

@media(min-width:768px) {
    body {
        padding-top: 100px; /* Required padding for .navbar-fixed-top. Change if height of navigation changes. */
    }

    .navbar-fixed-top .navbar-brand {
        /*padding: 15px 0;*/
    }
}

header {
  float: none;
  display: inline-block;
}

header h1 {
  font-weight: 400;
  margin: 0;
}

header nav {
  display: flex;
  justify-content: flex-end;
}

header p {
  padding: 0 20px;
  margin: 0;
}

header a {
  color: white;
  font-size: 22px;
}

.jumbotron {
  display: flex;
  align-items: center;
  background-image: url('images/header.jpg'); 
  background-size: auto; 
  background-repeat: no-repeat;
  color: black;
  height: 250px;
}

.jumbotron h2 {
  font-size: 60px;
  font-weight: 700;
  margin: 0;
  color: #fff;
}

.jumbotron h3 {
  margin: 0 0 20px;
  color: #fff;
}

.jumbotron img{
  width:100%;
  height:100%;
}

/* Interested in helping */
.container h3 {
	font-family: Impact;
	font-size: 35px; 
}

/* 16 goal images */
section .row img {
  margin: 0 0 30px;
  width: 100%;
  box-shadow: 5px 5px 15px black;
}

section .row img:hover
{
  -webkit-filter: brightness(60%); 
}

.col-md-6 {
  margin: 0 0 30px;
}

#map h3 {
	font-family: Impact;
	font-size: 35px;
	padding: 0px 0px 50px 0px;
	margin-top: 2000px; 
}

#map-canvas {
	height: 600px;
  width: 800px;
	margin:0 auto; 
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

footer .row {
  display: flex;
  align-items: center;
}

footer {
  margin-top: 50px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: black;
  height: auto;
}

footer #logo {
  width: 200px;
  height: auto;
  margin: auto;
  display: block;
}

footer .col-sm-10 {
  font-size: 20px; 
  color: white;
  text-align: center;
  position: relative;
  left: 7%;
}

footer ul {
  list-style: none; 
  margin: auto;
  padding: 10px;
}

footer li img {
  width: 32px;
  height: 32px;
}
