.parallax {
    background-image: url("../images/orange_mountain.jpg");
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

body {

}

.info {
	/*background-color: white;*/
	padding: 50px 200px;
}

h1 {
	color: white;
	font-family: Impact;
	font-size: 40px;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	margin: 0 20px;
}

h2 {
	color: white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	padding: 5px;
	font-size: 50px;
	text-align: center;
}

h2 img {
	width: 12%;
	height: auto;
	margin: 30px 20px;
	box-shadow: 1px 1px 1px black;
}

button.accordion {
    background-color: black;
    color: white;
    cursor: pointer;
    padding: 20px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 20px;
    transition: 0.5s;
}

button.accordion.active, button.accordion:hover {
    background-color: #16216a;
}

div.panel {
    padding: 0 20px;
    background-color: black;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
}

div.panel p {
	padding: 20px;
	font-size: 18px;
	color: white;
}

div.panel ul {
	color: white;
}

div.panel h3 {
	color: white;
}

div.panel img {
	display: block;
    margin: auto;
    width: auto;
    height: 400px;
    padding: 20px;
}

button.accordion:after {
    content: '\02795'; /* Unicode character for "plus" sign (+) */
    font-size: 13px;
    color: white;
    float: right;
    margin-left: 5px;
}

button.accordion.active:after {
    content: "\2796"; /* Unicode character for "minus" sign (-) */
}

#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: black; /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 15px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
}

#myBtn:hover {
    background-color: #555; /* Add a dark-grey background on hover */
}

footer {
  margin-top: 50px;
  padding: 0px;
  min-width: 100%;
  max-width: 100%;
  background: black;
  height: auto;
}

footer #logo {
  width: 200px;
  height: auto;
  margin: 0 auto;
  display: block;
}

footer .col-sm-10 {
  font-size: 20px;
  color: white;
  margin: 0 auto;
  text-align: center;
}

footer ul {
  list-style: none;
  margin: 0 auto
;  padding: 10px;
  display: block;
}

footer li img {
  width: 32px;
  height: 32px;
  display: inline-block;
}
