<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8"/>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
        <link href='https://fonts.googleapis.com/css?family=Roboto:300,400,700' rel='stylesheet' type='text/css'>
        <script src="https://use.fontawesome.com/35264218fe.js"></script> <!-- for scroll up button -->
        <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/india.css') }}">
    </head>
    <div class="parallax">
        <h1>Step 3: Choose an organization you'd like to help</h1>
        <body>
            <h2>
                INDIA
                <img src="{{ url_for('static', filename='images/flag.png') }}">
            </h2>
            <div class=info>
                <button class="accordion">CARE India</button>
                <div class="panel">
                    <p>The vision and mission of CARE India guide us towards our goal of overcoming poverty, and ensuring a life of dignity and security for the marginalized populations. We focus on women and girls to enable them to realize their rights, available resources and opportunities, fight social injustice, develop leadership capabilities and build a better future for themselves.</p>
                    <a href="https://www.careindia.org/vision-mission" target="_blank"><img src="{{ url_for('static', filename='images/care-india.jpg') }}"></a>
                </div>

                <button class="accordion">Plan India</button>
                <div class="panel">
                    <h3>Digital Learning Centers Project</h3>
                    <p>In 2015, 400 million Indians had internet access, an increase of 49% from the previous year. However, the percentage of women users was just 29%. (Source: Internet and Mobile Association of India).  The Digital Learning Centres, set up by Plan India in collaboration with Ericsson, utilize technology solutions to provide a quality education to young women in the age group of 15-25 years within their own communities, thereby overcoming the challenge of limited mobility. The project aims to benefit more than 15,000 young women over the next three years by making learning and skill development affordable and available to them in a safe and convenient environment.
                    </p>
                    <a href="https://www.planindia.org/digital-learning-centres" target="_blank"><img src="{{ url_for('static', filename='images/plan-india.jpg') }}"></a>
                </div>

                <button class="accordion">Digital Empowerment Foundation (DEF)</button>
                <div class="panel">
                    <h3>Helping Women Go Online</h3>
                    <p>An initiative to empower women from marginalized communities to become digitally literate and able to access the Internet; 150,000 done and counting.</p>
                    <p>Objectives: Make internet simple for women and girls </p>
                    <p>Focus Area: Empowering women by making them digitally literate</p>
                    <p>Impact & Outcome
                        <ul>
                            <li>So far over 100,000 women have been trained since August, 2014</li>
                            <li>Women in rural and semi-urban areas are now capable of obtaining childcare tips, cooking tips and recipes, financial tips and household tips by using the Internet</li>
                        </ul>
                    </p>
                    <a href="http://defindia.org/helping-women-go-online-2-2/" target="_blank"><img src="{{ url_for('static', filename='images/def.jpg') }}"></a>
                </div>

                <button class="accordion">Helping Hand India</button>
                <div class="panel">
                    <h3>Techie Girl</h3>
                    <p>Computer education and English language training can make a big difference to employment seeking girls and can grow their chances of finding dignified jobs. Techie Girls project is designed especially for enthusiastic girls, who have interest and want to become something in information technology fields and transform their lives. Techie Girls is part of a pilot initiative especially for girls from slums & villages, which was made to create and run different kind of computer related programs like Web designing / Accounts/database/ Microsoft word / Excel / Paint / Internet browsing etc. for girls. As we know if women equipped with the proper resources, they can help their whole families and entire communities to overcome poverty, marginalization and social injustice.</p>
                    <a href="http://www.helpinghandindiango.org/tichie_girl.php" target="_blank"><img src="{{ url_for('static', filename='images/hand.jpg') }}"></a>
                </div>

                <button class="accordion">Smile Foundation India</button>
                <div class="panel">
                    <p>Smile Foundation is a national level development organization directly benefitting over 400,000 children and their families every year, through more than 200 live welfare projects on education, healthcare, livelihood and women empowerment, in over 950 remote villages and slums across 25 states of India.</p>
                    <p>Today, 8 million children in India are out of school – surrounded by poverty, illness and despair; they are fighting a daily battle for their survival. Together, we can bring hope in their lives. Together, we can bring change and make it last.</p>
                    <a href="http://www.smilefoundationindia.org/education.htm" target="_blank"><img src="{{ url_for('static', filename='images/smile.png') }}"></a>
                </div>

                <button class="accordion">Make Love Not Scars</button>
                <div class="panel">
                    <p>Until now, acid attack survivors didn’t have a platform to interact with employers. This first-of-its-kind initiative aims to change that. By putting survivors face to face with employers. Feel free to browse around and look at the talents and skills on display. If someone is the right fit for you or your organization, please go ahead and contact us. If you can’t hire them directly, that’s fine. Just share this initiative with your friends and family who may be able to help. Your help will go a long way.</p>
                    <p>Make Love Not Scars (mlns) is a non-government organization dedicated to provide acid attack victims an opportunity to regain their life on their own terms through recovery, rehabilitation, and reintegration.</p>
                    <a href="http://makelovenotscars.org/" target="_blank"><img src="{{ url_for('static', filename='images/scar.jpg') }}"></a>
                </div>

                <button class="accordion">UDAYAN CARE</button>
                <div class="panel">
                    <p>Udayan Care has spread its work for disadvantaged groups during the last 23 years by establishing more family homes, helping girls' education, providing vocational training etc. To date, Udayan Care has nurtured over 15,000 young minds. This has been made possible only through the support of like-minded people, donors and partners who believed in Udayan Care's work and mission.</p>
                    <a href="http://www.udayancare.org/" target="_blank"><img src="{{ url_for('static', filename='images/care.png') }}"></a>
                </div>

                <button class="accordion">SHIKSHA SEVA FOUNDATION</button>
                <div class="panel">
                    <p>Education is every girl’s right. It is through education that we can empower the girls of our nation; to look beyond the customary traditions of the society; be independent and contribute to the progress of the nation, through their talent and abilities.</p>
                    <p>Shiksha Seva Foundation spearheaded an initiative – Mission Admission, with a motto of ‘Beti Bachoa, Beti Padhao’.  Under the flagship of this initiative, we intend to get more than 200 girl children enrolled for their school education.</p>
                    <p>We are liaising with institutions and corporate, who are actively contributing to this great move. And we are inviting more support from responsible and progressive citizens like you. We urge you to come forward and be the proud stimulus for this movement - Sponsor a girl child education!</p>
                    <p>" Mission Admission – Every girl’s right, Every girl’s dream, Every girl’s Freedom!</p>
                    <p>Let’s Educate Our Girls, Let’s Empower Them & Make Our Nation Proud! "</p>
                    <a href="http://www.shikshaseva.org/" target="_blank"><img src="{{ url_for('static', filename='images/seva.jpg') }}"></a>
                </div>

                <button class="accordion_collapse">Collapse All</button>

                <script>
                    var acc = document.getElementsByClassName("accordion");
                    var i;

                    for (i = 0; i < acc.length; i++) {
                        acc[i].onclick = function() {
                            this.classList.toggle("active");
                            var panel = this.nextElementSibling;
                            if (panel.style.maxHeight){
                                panel.style.maxHeight = null;
                            } else {
                                panel.style.maxHeight = panel.scrollHeight + "px";
                            }
                        }
                    }
                </script>
            </div>

            <a onclick="topFunction()" id="myBtn" href="#">
                <i class="fa fa-chevron-up" ></i>
            </a>
            <script>
                window.onscroll = function() {scrollFunction()};

                function scrollFunction() {
                    if (document.body.scrollTop > 20 || document.documentElement.scrollTop > 20) {
                        document.getElementById("myBtn").style.display = "block";
                    } else {
                        document.getElementById("myBtn").style.display = "none";
                    }
                }

                // When the user clicks on the button, scroll to the top of the document
                function topFunction() {
                    document.body.scrollTop = 0;
                    document.documentElement.scrollTop = 0;
                }
            </script>
            <footer class="container">
                <div class="row">
                    <img id="logo" src="{{ url_for('static', filename='images/logo_black.png') }}">
                </div>
                <div class="row">
                    <p class="col-sm-10">&copy; 2017 Integra</p>
                </div>
                <div class="row">
                    <ul class="col-sm-2">
                        <li class="col-sm-3">
                            <a href="www.twitter.com"/>
                                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/twitter.svg">
                            </a>
                        </li>
                        <li class="col-sm-3">
                            <a href="www.facebook.com"/>
                                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/facebook.svg">
                            </a>
                        </li>
                        <li class="col-sm-3">
                            <a href="www.instagram.com"/>
                                <img src="https://s3.amazonaws.com/codecademy-content/projects/make-a-website/lesson-4/instagram.svg">
                            </a>
                        </li>
                    </ul>
                </div>
            </footer>
        </body>
    </div>
</html>
